---
title: About
layout: default
category: about
---


<div class="container">

<p>
  The Tamarin prover is an open-source security protocol verification tool that supports both falsification (attack finding) and unbounded verification (proving) in the symbolic model. Tamarin has been under active development since 2012.
</p>
  
  <h3>Current core team</h3>

  <p>
    {% assign core = site.data.people | where:"currentcore","true" %}
    {% for person in core %}
      {%- if person['website'] -%}
        <a href="{{ person['website'] }}" target="_blank">{{ person['name'] }}</a>
      {%- else -%}
        {{ person['name'] }}
      {%- endif -%}
      {% if forloop.last != true %}, {% else %}.{% endif %}
    {% endfor %}
  </p>
  <h3>Current maintainers</h3>
  <p>
    {% assign maintainers = site.data.people | where:"maintainer","true" %}
    {% for person in maintainers %}
      {%- if person['website'] -%}
        <a href="{{ person['website'] }}" target="_blank">{{ person['name'] }}</a>
      {%- else -%}
        {{ person['name'] }}
      {%- endif -%}
      {% if forloop.last != true %}, {% else %}.{% endif %}
    {% endfor %}
  </p>

  <h3>Collaboration</h3>
  <p>
    Tamarin is a collaborative effort: see the <a href="https://tamarin-prover.com/manual/index.html" target="manual">manual</a> for a more extensive overview
    of its development and its many additional contributors.
  </p>
</div>