---
title: Selected scientific publications
layout: default
category: documentation
sections:
- overview
- theory
- advanced primitives
- extensions
- applications
---


<div class="container">

  <a name="research_papers_and_theses"></a>
  <h2>Research Papers and Theses<a class="anchorlink" href="#research_papers_and_theses"></a></h2>

  <p>The following list of selected papers and theses is far from complete, but highlights some of the work around
    Tamarin and its community.</p>

  {% for section in page.sections %}
  <h4>{{ section | capitalize }}</h4>

  <ol class="list">

    {% assign publications = site.publications | where: "tag",section | sort: "year" %}
    {% for pub in publications %}
    <li>
      {{ pub.summary }}
    </li>
    {% endfor %}
  </ol>

  {% endfor %}

</div>