---
---

$margin-x: 30px;
$black: #000000;
$black-half-shadow: #00000080;
$gray-black: #232323;
$gray-dark: #535353;
$gray-dark-shadow: #000000AB;
$brown-dark: #7d5546;
$gray-mid: #7f7f7f;
$brown-mid: #a67a69;
$brown-light: #b87b1d;
$green: #6abe30;
$gray-light: #d5d5d5;
$gray-lightest: #e4e2e6;
$pink: #ffcbb7;
$white: #fbfbfb;
$white-shadow: #fffffffb;
$green-light: #eaf1e7;
$title-back: #ededed;
$brown-lightest: #efc88e;
$brown-hint: #f6e0bf;
$banner-background: #45503d;
$topnav-height: 40px;
$fontstack: "Figtree", "Arial", sans-serif;
$fonticon: "Material Symbols Sharp";
$topnav-halfspace: 14px;

* {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: square;
}

h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h1::before {
    background: $brown-light;
    content: "";
    height: 22px;
    width: 22px;
    position: relative;
    margin-right: 12px;
    display: inline-block;
}

h2 {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

ul {
    margin-bottom: 1em;
}

.figtree-main {
    font-family: $fontstack;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: $white;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: $fontstack;
    padding-top: $topnav-height;
    padding-bottom: $topnav-height;
    color: $gray-dark;
}

body, .material-symbols-sharp {
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

.material-symbols-sharp {
    font-family: $fonticon;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
    vertical-align: middle;
}

.content p {
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

code {
    color: $brown-dark;
}

pre > code {
}

.content {
    margin-left: $margin-x;
    margin-right: $margin-x;
    border-color: transparent;
    padding-top: 10px;
}

.titlepage .content {
    padding-top: 0px;
}

/* Top navigation bar */

.topnav {
    z-index: 100;
    background-color: $white;
    overflow: clip;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    padding-left: $margin-x - $topnav-halfspace;
    padding-right: 0;
    filter: drop-shadow(0px 0px 10px $black-half-shadow);
    height: $topnav-height;
    font-size: 16px;

    a {
        color: $gray-dark;
        text-decoration: none;
        float: left;
        display: block;
        padding-left: $topnav-halfspace;
        padding-right: $topnav-halfspace;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    /* Style the links inside the navigation bar */
    a, .icon i {
        text-align: center;
        height: $topnav-height;
        line-height: $topnav-height;
    }
    
    /* Tamarin small logo */
    img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
    
    /* Create a right-aligned (split) link inside the navigation bar */
    a.split {
        float: right;
    }
    
    /* Change the color of links on hover */
    a:hover {
        color: $white;
        background-color: $gray-dark;
    }
    
    /* Hide the link that should open and close the topnav on small screens */
    .icon {
        display: none;
        position: absolute;
        right: $margin-x - $topnav-halfspace;
        top: 0;
    }
    .icon i::after {
        content: "menu";
    }
}
    
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
        
    .topnav a.icon {
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        /* position: fixed; */
        filter: drop-shadow(0px 0px 10px $gray-dark);
        height: unset;
        
        a.icon i::after {
            content: "close";
        }
        
        a {
            float: none;
            display: block;
            text-align: left;
            border-bottom: 1px solid;
            border-color: $gray-light;      
        }
    }
}

/* Button definitions */

.button {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    background-color: $brown-dark;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    color: $white;
}

.button:hover {
    filter: brightness(120%) drop-shadow(0px 2px 2px $gray-dark-shadow);
    text-shadow: 0px 1px 2px $gray-dark-shadow;
    box-shadow: inset 0px -5px 10px -8px $white-shadow;
}

/* .button-external a:after {
    display: inline-block;
    content: url(/assets/images/open_in_new_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
    scale: 0.5;
    vertical-align: sub;
} */

.button-book {
    background-color: $brown-light;
}

/* Title part of the main page */

.title-banner {
    padding: 10px;
    padding-left: $margin-x;
    padding-right: $margin-x;
    background-color: $banner-background;
    color: $white;
    display: flex-box;
    gap: 10px;
    justify-content: center;
    align-items: center;

    h2 {
        margin-top: 0px;
    }
}

.title-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.title-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.title-logo img {
    width: 80px;
    /* box-shadow: 0px 0px 30px 2px $white; */
}

.title-logo {}


.title-description {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 110%;
    width: 60%;
}

@media (max-width: 1000px) {
    .title-description {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .title-description {
        width: 100%;
    }
}


.feature-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
.feature-text {
    width: 40%;
    padding-right: 10px;
    max-width: 600px;
}

.feature-image {
    display: flex;
    /* height: 100px; */
    background-color: $green-light;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    width: 60%;
    padding: 10px;
    max-width: 800px;
}

.feature-image img {
    align-items: top;
}

@media (max-width: 600px) {
    .feature-box {}

    .feature-text {
        width: 100vw;
    }

    /* .feature-image {
        width: 100vw;
    } */
}

/* News posts */

.news-published-date-authors {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    color: $gray-mid;
}

/* Documentation and software use subboxmenu class */

.subboxmenu {
    ol {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 1rem;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }
    li {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        text-decoration: none;
        color: $gray-dark;
        background-color: $green-light;
        list-style-type: none;
    }
    h2 {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    p {
        color: $gray-mid;
        font-size: 13px;
    }
}


.software li {
    background-color: $gray-lightest;
}

.col-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.col-two-top {}

.col-two-bottom {
    /* display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px; */
}

/* news */

.news li {
    padding-bottom: 16px;
}

.post-title {
    font-size: 120%;
}

/* book page */

.book-downloads {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.book-download {
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $brown-hint;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    max-width: 500px;
}

@media (max-width: 600px) {
    .book-download {
        width: 100%;
    }
}

/* teaching materials */

.teaching-all h2 {
    padding-top: 24px;
}

.teaching-all h3 {
    padding-top: 10px;
}

/* External links */
.external::after {
    @extend .material-symbols-sharp;
    content: "open_in_new";
    padding-left: 2px;
}

