---
layout: core
---

<div class="title-banner">
    <div class="title-content">
        <div class="title-intro">

            <div class="title-logo">
                <img src="/assets/images/tamarin-logo-border.png">
            </div>
            <div class="title-description">
                <h2>The Tamarin Prover for security protocol analysis</h2>
                <p>For symbolic verification (proving) and falsification (attack finding)</p>

            </div>
        </div>
        <div class="title-buttons">
            <a class="button button-install button-external"
                href="https://tamarin-prover.com/manual/master/book/002_installation.html" target="_blank">Install
                Tamarin</a>
            <a href="/book/index.html" class="button button-book">Read the book</a>
        </div>
    </div>
</div>

<div class="titlepage">
    <div class="content">
        {{ content }}
    </div>
</div>