---
layout: core
---

<div class="title-banner">
    <div class="title-content">
        <div class="title-intro">

            <div class="title-logo">
                <img src="/assets/images/tamarin-logo-border.png">
            </div>
            <div class="title-description">
                <p>The Tamarin prover is a security protocol verification tool that supports both falsification (attack
                    finding) and unbounded verification (proving) in the symbolic model. </p>

            </div>
        </div>
        <div class="title-buttons">
            <div class="button button-install button-external">
                <a href="https://tamarin-prover.com/manual/master/book/002_installation.html" target="_blank">Install
                    Tamarin</a>
            </div>
            <div class="button button-book">
                <a href="/book/index.html">Read the book</a>
            </div>
        </div>
    </div>
</div>

<div class="titlepage">
    <div class="content">
        {{ content }}
    </div>
</div>