---
layout: core
---

<div class="title-banner">
    <div class="title-content">
        <div class="title-intro">

            <div class="title-logo">
                <img src="/assets/images/tamarin-logo-border.png">
            </div>
            <div class="title-description">
                <h2>The Tamarin Prover</h2>
                <p>Symbolic verification (proving) and falsification (attack finding) for security protocols</p>

            </div>
        </div>
        <div class="title-buttons">
            <a class="button button-install"
                href="/install.html">Install
                Tamarin</a>
            <a href="/book/index.html" class="button button-book">Read the book</a>
            <a href="https://tamarin-prover.com/manual/master/book/001_introduction.html" target="manual" class="button button-manual">Browse the manual</a>
        </div>
    </div>
</div>

<div class="titlepage">
    <div class="content">
        {{ content }}
    </div>
</div>