---
title: "Book: Modeling and Analyzing Security Protocols with Tamarin"
layout: default-specialtitle
---

<h1>Tamarin book</h1>

<h2>Modeling and Analyzing Security Protocols with Tamarin:<br>
    A Comprehensive Guide
</h2>

<p>
    By&nbsp;
    {%- assign authors = "david cas jannik ralf" | split: " " -%}
    {% for author in authors %}
    {%- assign person = site.data.people[author] -%}
    <a href="{{ person.website }}">{{ person.name }}</a>{% if forloop.last != true %}, {% else %}.{% endif %}
    {% endfor %}
</p>
<p>Physical copies will soon be availabe through Springer.</p>
<div class="book-download">
    <p>Download the Tamarin book draft:</p>
    <div class="button">
        <a href="/book/downloads/Tamarin book-Draft v0.9.5.pdf">v0.9.5 PDF</a>
    </div>
    </ul>
</div>
<p>If you sign up to the <a href="https://groups.google.com/group/tamarin-prover" target="_blank">Tamarin Prover mailing
        list</a>, you will be notified when there are updates and when the final version of the book will be released by
    Springer.</p>